fieldset{
  background-color: aliceblue;
}


ul {
  position: relative;
  list-style-position: inside;
  list-style-type: initial;
}

input:invalid {
  border: 1px solid rgb(65, 53, 233);
}

fieldset {
  //display: block;
  margin: 10px;
  padding: 15px;
  width: 15%;
  position: relative;
  left: 30%;
}

#submit {
  position: relative;
  left: 40%;
  margin-top: 10px;
}
#cityname{
  position: relative;
  left: 5%;
  margin: 3%;
}

#minvalue{
  position: relative;
  left: 6%;
  margin: 3%;
}
#maxvalue{
position: relative;
  left: 5%;
  margin: 3%;
}

#avgvalue{
  position: relative;
  left: 6%;
  margin: 3%;
}